<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Add your skill</h3>

  <fieldset class="uk-fieldset">

      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="name" name="name" [(ngModel)]="data.name">
      </div>

      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="phone" name="phone" [(ngModel)]="data.phone">
      </div>


      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="skill" name="skill" [(ngModel)]="data.skill">
      </div>


      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="city" name="city" [(ngModel)]="data.city">
      </div>


      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="price" name="price" [(ngModel)]="data.price" >
      </div>



      <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" placeholder="comment" name="comment" [(ngModel)]="data.comment"></textarea>
      </div>


      <div class="uk-margin">
          <button class="uk-button uk-button-primary" (click)="inserSkill()">Add</button>
      </div>

  </fieldset>
</div>


</div>
